Header set Access-Control-Allow-Origin "*"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,QSA,L]
RewriteRule ^.*$ index.php [NC,QSA,L]
